/* color theme: TURF */
:root {
  /* TW TURF Palette */
  --color-primary-50: 255 217 12;
  --color-primary-100: 255 217 12;
  --color-primary-200: 255 217 12;
  --color-primary-300: 255 217 12;
  --color-primary-400: 255 217 12;
  --color-primary-500: 255 217 12;
  --color-primary-600: 255 217 12;
  --color-primary-700: 255 217 12;
  --color-primary-800: 255 217 12;
  --color-primary-900: 255 217 12;
  --color-primary-950: 255 217 12;
}